@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Prompt|Roboto');

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 36px;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

li {
  list-style: none;
  margin-right: 6px;
  color: #204963;
}

a {
  text-decoration: none;
  padding: 6px;
  color: #204963;
}

.login-container {
  width: 500px;
  margin: 0 auto;
  border: 3px solid lightgrey;
  border-radius: 10px 50px; 
}

.login-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.input {
  padding: 8px;
  margin: 20px;
  border-radius: 10px;
}

.login-button {
  padding: 8px;
  margin: 20px;
  border-radius: 10px;
  background-color: lightgrey;
}

.add-friend-form {
  margin: 0 auto;
  width: 800px;
}

.add-friend-title {
  text-align: center;
}

.input-name {
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.add-friend-button {
  padding: 8px;
  margin: 20px;
  border-radius: 10px;
  background-color: lightgrey;
}

.top-title {
  width: 780px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-content: center;
}

.friend-card-map {
  display: flex;
  flex-direction: row;
}

.friend-card {
  width: 300px;
  margin: 50px; 
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgrey;
  border-radius: 10px 50px;

}